/***orange theme**/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu .divider,
.carousel-indicators .active,
.option-box .color-box ul li,
.option-box .gear-check {
    background-color: #e3c423;
    #991717
}





.navbar-nav > li > .dropdown-menu {
    border-top: 1px solid #e3c423;
}





.option-box .color-box,
.option-box .gear-check,
.testimonials .carousel-indicators li.active {

    border: 2px solid #e3c423;
}




.navbar-brand span,
.about h2 span,
.testimonials span,
footer h3,
footer .copy-right span {
    color: #e3c423
}

#0895D1
